.red{
    color: red;
}
.black{
    color: black;
}
.grey{
    color: #5a5a5a
    ;
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
.orange{
    color: orange;
}
.withe{
    color: white;
}
.blue{
    color: blue;
}