.red{
    color: red;
}
.black{
    color: black;
}
.grey{
    
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
.orange{
    color: orange;
}
.withe{
    color: white;
}
.blue{
    color: blue;
}