body{
    margin: 0%;
}
header{
    height: 80px;
    display: flex;
    background-color: #fff0dc;
    align-items: center;
    position: sticky;
}
footer{
    height: 80px;
    display: flex;
    background-color: #e6e6e6;
    align-items: center;
    position: sticky;
}

.logo{
    display: flex;
}

.count{
    display: flex;
    justify-content: space-around;
}
.fonssection{
    margin: 0%;
    margin-bottom: 40px;
    background-image: url("/css/imatgescss/salsanaranja.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 420px;
    max-height: 420px;
    width: 100%;
}
.posicio{
    position:relative;
    margin-top: -2%;
    margin-left: 15%;
    color: #363636;
}
.posiciolletra{
    margin-top: 80px;
}
.posiciodown{
    position:relative;
    margin-top: 10%;
    margin-left: 15%;
    font-size: 15px;
}
.redo{
    border-radius: 30px;
    border: solid;
    padding-inline: 5px;
    width: 70px;
    text-align: center;
    border-color: #aa7939;
    color: #85653c;
}
.posicioleft{
    position: absolute;
    margin-left: 5%;
}
.posicioleft1{
    background-color: #fff0dc;
}
.tamany{
    width: 45%;
}

.tamany2{
    width: 100%;
    background-color: #e1e1e1;
}

.lletrapet{
    font-size: 12px;
}
.ordre{
    display: flex;
    flex-direction: row-reverse;
}
.ordre2{
    margin-left: 40%;
}
.posicioright{
    margin-right: 59px;
    margin-top:57px;
}
.divform{
    background-color: #a84545;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}
.divbord{
    border-radius: 30px;
    border-color: rgb(0, 0, 0);
}
.botoform{
    border-radius: 30px;
    border-color: white;
}
.formulari{
    background-color:inherit;
    border-color: #a84545;
    border-radius: 30px;
}
.ordrefor{
    align-items: center;
    display: flex;
    flex-direction: row; 
    margin-right: 20px; 
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 25px;
}
.topdown{
    margin-top: center;
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 40%;
}
.titolfor{
    font-size: 25px;
}

.lletragran{
    font-size: 20px;
}

.lletragran1{
    font-size: 35px;
}
@media screen and (max-width: 760px){
    .posicioright {
        float: left;
        width: 48%;
        margin-right: 2%;
    }
    .posicioleft{
        float: left;
        width: 48%;
    }
}

.autor{
    background-color: #fff0dc;
}

.marginimag{
    margin-left: 5%;
}

.lletautor{
    display: flex;
    align-items: center;
}