body{
    margin: 0;
}
header{
    height: 70px;
    display: flex;
    background-color: #fff0dc;
    align-items: center;
}

.logo{
    display: flex;
}

.count{
    display: flex;
    justify-content: space-around;
}